<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>메인 페이지</h3>
<!--기능 1 : fetch 를 이용해 원하는 json 데이터 호출하기-->
<div>
    <button onclick="getJson()">데이터 불러오기</button>
</div>

<!--기능 2 : 지역명 입력하고 날씨 검색하기 -->
<div>
    <form th:action="@{/weather-result}" method="post">
        <input type="text" th:name="location">
        <button type="submit">전송</button>
    </form>
</div>

<script>
    function getJson(){
        let url = "/weather";
        let jsonArr = new Object();
        jsonArr = [{"seoul":30},{"suwon":20},{"busan":25}];

        fetch(url, {
            method:"post",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(jsonArr)
        }).then(res => {
            console.log(res);
        }).catch(err =>{
            console.log(err);
        });
    }
</script>

</body>
</html>

